body {
    background-color: bisque;
}

.tablecont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tictactoetable {
    border: 1px solid black;
    margin-top: 5vh;
    border-collapse: collapse;
}

#tictactoetable tr,td{
    border: 5px solid black;
    padding: 10vh;
    background-color: white;
    
}

.contbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#reset {
    padding: 2vh;
    border-radius: 2vh;
    background-color: aquamarine;
    font-weight: 900;
}

